@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');
body{
    background: #222326 !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Prata', serif;
    color:white !important;
}

.intro{
    height: 90vh;
}
.login{
    height: 90vh;
}
.Register{
    height: 90vh;
}
.con-reg{
    height: 90vh;
}
.con-log{
    height: 90vh;
}
.components{
    height: 80vh;
}
.lg-btn{
    border: 2px solid black;
}

.home-nav{
    border-bottom: 2px solid #ffc107;
}
a:hover{
    text-decoration: none !important;
}
.user-com{
    border:2px solid ;
    border-radius: 5px;
}

.components{
    border-top:2px solid ;
    border-bottom:2px solid ;
    border-left:2px solid; 
    border-radius: 50px 800px 800px 50px;
    background: #ffc107;
    background-position: center;
    background-size: 30px 10px;
}
.slip{
    height: 80vh;
    border-top:2px solid ;
    border-bottom:2px solid ;
    border-left:2px solid; 
    border-radius: 800px 50px 50px 800px;
    background: #ffc107;
    background-position: center;
    background-size: 30px 10px;
}
.slip-head{
    border-top:2px solid #ffc107;
    border-bottom:2px solid #ffc107;
    border-left:2px solid #ffc107; 
    border-radius: 0px 900px 00px 0px;
}